
.wrapper-padding{
padding: 1% 1% 1% 1% ;
}
.btn{
	font-family: sans-serif !important;
}
.table-img{
	width:60px;
	height:auto;
}
.loading_icon{
	height: 100px;
	width: 100px;
}.loading_icon_sm{
	height: 50px;
	width: 50px;
}

#deleteModal .modal-dialog {
    max-width: 390px;
}
div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate {
    padding-top: 1.5rem;
    padding-bottom: 0rem;
}
.table-img2 {
    width: 150px;
    height: auto;
}